<p id=”notice”><%= notice %></p>

<head>
  <meta charset="utf-8">
  <title>FLEXT Home</title>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <%= stylesheet_link_tag "home" %>
</head>
<body>
  <header>
    <video loop muted autoplay playsinline poster="https://media.giphy.com/media/ThqoAxf9ebe8M/giphy.gif">
      <source src="https://media.giphy.com/media/ThqoAxf9ebe8M/giphy.mp4" type="video/mp4" />
    </video>
    <div class="banner">
       <div class="banner-text">
          Welcome to FLEXT!
       </div>
    </div>
  </header>
  <section>
  Whether for Fitness or Fun Begin Your Journey Here!<br>
  <% if current_user %>
  Logged in as <%= current_user.username %>.<br>
  <%= link_to '<button type="button">Log Out</button>'.html_safe, logout_path %>
  <% else %>
  <%= link_to '<button type="button">Sign Up</button>'.html_safe, signup_path %> or
  <%= link_to '<button type="button">Log In</button>'.html_safe, login_path %>
  <% end %>
  </section>
  <footer>
    <div>
      &copy; Copyright Beau & Anuj
    </div>
  </footer>
</body>
