<% if !event_belongs_to_active_user(event) && !active_user_is_buddy(event) %>
  <h1>Join <%= event.user.name %>'s activity</h1>
<% elsif active_user_is_buddy(event) %>
  <h1>Leave <%= event.user.name %>'s activity</h1>
<% else %>
  <h1>Edit my activity</h1>
<% end %>

<%= form_with(model: event, local: true) do |form| %>
  <% if event.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(event.errors.count, "error") %> prohibited this event from being saved:</h2>

      <ul>
      <% event.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

<% if !event_belongs_to_active_user(event) && !active_user_is_buddy(event) %>
  <div class="field">
    <%= form.label "Event Name: " %>
  </div>
  <div>
    <%= event.name %>
  </div>

  <div class ="field">
    <%= form.hidden_field :friend_user_id, value: current_user.id %>
  </div>

  <div class ="field">
    <%= form.label "Activity: " %>
  </div>
  <div>
    <%= event.activity.name %>
  </div>

  <div class ="field">
    <%= form.label "Location: " %>
  </div>
  <div>
    <%= event.location.name %>
  </div>

  <div class="field">
    <%= form.label "Date: " %>
  </div>
  <div>
    <%= time_format(event.date) %>
  </div>

  <div class="field">
    <%= form.label "Event Notes: " %>
  </div>
  <div>
    <%= form.text_area :description %>
  </div>

  <div class="actions">
    <%= form.submit "Join this event"%>
  </div>

<% elsif active_user_is_buddy(event) %>
<div class="field">
  <%= form.label "Event Name: " %>
</div>
<div>
  <%= event.name %>
</div>

<div class ="field">
  <%= form.hidden_field :friend_user_id, value: nil %>
</div>

<div class ="field">
  <%= form.label "Activity: " %>
</div>
<div>
  <%= event.activity.name %>
</div>

<div class ="field">
  <%= form.label "Location: " %>
</div>
<div>
  <%= event.location.name %>
</div>

<div class="field">
  <%= form.label "Date: " %>
</div>
<div>
  <%= time_format(event.date) %>
</div>

<div class="field">
  <%= form.label "Event Notes: " %>
</div>
<div>
  <%= form.text_area :description %>
</div>
<div>
</div>
<div class="actions">
  <%= form.submit "Leave this event"%>
</div>

<% else %>
  <div class="field">
    <%= form.label :name %>
  </div>
  <div>
    <%= form.text_field :name %>
  </div>


  <div class ="field">
    <%= form.hidden_field :user_id, value: current_user.id %>
  </div>
  <div>
  </div>

  <div class ="field">
    <%= form.label "Activity" %>
  </div>
  <div>
    <%= form.collection_select :activity_id, Activity.all, :id, :name %>
  </div>

  <div class ="field">
    <%= form.label "Location" %>
  </div>
  <div>
    <%= form.collection_select :location_id, Location.all, :id, :name %>
  </div>

  <div class="field">
    <%= form.label :date %>
  </div>
  <div>
    <%= form.datetime_select :date %>
  </div>

  <div class="field">
    <%= form.label :description %>
  </div>
  <div>
    <%= form.text_area :description %>
  </div>
  <div>
  </div>
  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
<% end %>
