<p id="notice"><%= notice %></p>

<nav class="navbar navbar-expand-md bg-dark navbar-dark">


  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#collapsibleNavbar">
    <span class="navbar-toggler-icon"></span>
  </button>

  <!-- Navbar links -->
  <div class="collapse navbar-collapse" id="collapsibleNavbar">
    <ul class="navbar-nav">
      <li class="nav-item">
        <a class="nav-link" href="users">User </a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="activities">Activities</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="events">Events</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="locations">Locations</a>
      </li>
    </ul>
  </div>
</nav>

<h1>Available Events</h1>

<table>
  <thead>
    <tr>
      <th>Name</th>
      <th>Date</th>
      <th>Activity</th>
      <th>Location</th>
      <th>Address</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @events.each do |event| %>
      <tr>
        <td><%= event.name %></td>
        <td><%= event.date %></td>
        <td><%= event.activity.name %></td>
        <td><%= event.location.name %></td>
        <td><%= event.location.address %></td>
        <td><%= link_to 'Show', event %></td>
        <td><%= link_to 'Edit', edit_event_path(event) %></td>
        <td><%= link_to 'Delete', event, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Event', new_event_path %>
