
<h1>My Event!</h1>
<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @event.name %>
</p>

<p>
  <strong>Activity:</strong>
  <%= @event.activity.name %>
</p>

<p>
  <strong>Location:</strong>
  <%= @event.location.name + " - " + @event.location.address %>
</p>

<p>
  <strong>Date:</strong>
  <%= @event.date %>
</p>

<%= link_to 'Edit', edit_event_path(@event) %> |
<%= link_to 'Back', events_path %>
