<div class="jumbotron">
  <%= stylesheet_link_tag "events" %>
<h1><%= @event.name %></h1>
<p id="notice"><%= notice %></p>

<div class="row">
  <div class="col-lg-4">
    <iframe width="300" height="300" frameborder="0" style="border:0"
     src=<%=google_map_dynamic(google_maps_address_converter(@event.location.address))%>
     allowfullscreen>
    </iframe>
  </div>
  <div class="col-lg-4">
    <p>
      <%= @event.activity.name %> with <%= link_to @event.user.name, @event.user %>
    </p>

    <p>
      <%= link_to @event.location.name, @event.location %>
    </p>
    <p>
    <%= @event.location.address %>
    </p>
    <p>
      <%= time_format(@event.date) %>
    </p>
    <p>
      <strong>Description:</strong>
      <%= @event.description %>
    </p>
  </div>
</div>
<% if current_user.id == @event.user_id %>
  <%= link_to '<button type="button">Edit</button>'.html_safe, edit_event_path(@event) %> |
<% end %>
</div>
