<h1>My Event!</h1>
<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @event.name %>
</p>

<p>
  <strong>Activity:</strong>
  <%= @event.activity.name %> with <%= link_to @event.user.name, @event.user %>
</p>

<p>
  <strong>Location:</strong>
  <%= link_to @event.location.name, @event.location %> -  <%= @event.location.address %>
</p>

<p>
  <strong>Date:</strong>
  <%= @event.date %>
</p>

<p>
  <strong>Description:</strong>
  <%= @event.description %>
</p>
<% if current_user.id == @event.user_id %>
  <%= link_to '<button type="button">Edit</button>'.html_safe, edit_event_path(@event) %> |
<% end %>
<%= link_to '<button type="button">Back</button>'.html_safe, events_path %>
