
<p id="notice"><%= notice %></p>
<%= render 'navbar', location: @activity %><br><br>

<h1>Activities</h1>

<table class="table table-hover">
  <thead>
    <tr>
      <th>Name</th>
      <th>Number of Available Events</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @activities.each do |activity| %>
      <tr>
        <td><%= link_to activity.name, activity %></td>
        <td><%= activity.events.count %></td>
        <td><%= link_to 'Edit', edit_activity_path(activity) %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Activity', new_activity_path %>
