<p id="notice"><%= notice %></p>
<p>
  <strong>Name:</strong>
  <%= @activity.name %>
</p>
<p>
  <table class="table table-hover">
  <strong>Available Activities:</strong>
    <thead>
      <tr>
        <th>Name</th>
        <th>Date</th>
        <th>Location</th>
        <th>Address</th>
        <th colspan="3"></th>
      </tr>
    </thead>

    <tbody>
      <% @activity.events.each do |event| %>
        <tr>
          <td><%= link_to event.name, event %></td>
          <td><%= event.date %></td>
          <td><%= link_to event.location.name, event.location %></td>
          <td><%= event.location.address %></td>
          <% if current_user.username == event.user.username %>
            <td><%= link_to '<button type="button">Show</button>'.html_safe, event %></td>
            <td><%= link_to '<button type="button">Edit</button>'.html_safe, edit_event_path(event) %></td>
            <td><%= link_to '<button type="button">Delete</button>'.html_safe, event, method: :delete, data: { confirm: 'Are you sure?' } %></td>
          <% else %>
            <td><%= link_to '<button type="button">Sign Up For This Event!</button>'.html_safe, edit_event_path(event) %></td>
          <% end %>
        </tr>
      <% end %>
    </tbody>
  </table>

<%= link_to 'Edit', edit_activity_path(@activity) %> |
<%= link_to 'Back', activities_path %>
