<!DOCTYPE html>
<html>
  <head>
    <title>ExerBuddy</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <nav class="navbar navbar-expand-md bg-dark navbar-dark fixed-top">
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#collapsibleNavbar">
        <span class="navbar-toggler-icon"></span>
      </button>

      <!-- Navbar links -->

      <div class="collapse navbar-collapse" id="collapsibleNavbar">
        <% if current_user %>
        <ul class="navbar-nav">
          <li class="nav-item">
            <a class="nav-link" <%= link_to "Profile", user_path(current_user) %></a>
          </li>
          <li class="nav-item">
            <a class="nav-link" <%= link_to "Activities", activities_path%></a>
          </li>
          <li class="nav-item">
            <a class="nav-link" <%= link_to "Events", events_path %></a>
          </li>
          <li class="nav-item">
            <a class="nav-link" <%= link_to "Locations", locations_path %></a>
          </li>
        </ul>
        <% end %>
      </div>

      <div>
        <% if current_user %>
          Logged in as <%= current_user.username %>.
          <%= link_to 'Log Out', logout_path %>
        <% else %>
          <%= link_to 'Sign Up', signup_path %> or
          <%= link_to 'Log In', login_path %>
        <% end %>
      </div>
    </nav>
    <br>
    <br>

    <%= yield %>
  </body>
</html>
